body {
  margin: 0;
  text-align: center;
}


#navigasjon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #333;
}

#logo {
  height: 25px;
  width: 25px;
  margin: 3px 3px;
}

li {
  float: left;
  cursor: pointer;
}

li a {
  display: block;
  color: inherit;
  background-color: inherit;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  font-size: 3vw;
  cursor: inherit;
}

li a:hover {
  color: inherit;
  background-color: #111;
}

@media screen and (min-width: 740px) {
  li a {
    font-size: 16px;
  }

  footer p {
    font-size: 16px;
  }
}


input {
  text-align: center;
  border-color: #333;
}

/*table {
  width: 100%;
  margin: 20px auto;
  padding-bottom: 10%;
  table-layout: auto;
}*/

#columnContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.active {
  color: inherit;
  background-color: #4CAF50;
}

footer {
  display: block;
  color: white;
  text-align: center;
  font-size: 3vw;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-decoration-color: white;
  background-color: #333;
}

.hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  #oversiktTable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .sammenligningTable {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .tableElement {
    display: flex;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    flex-direction: column;
  }

  #topRow {
    display: none;
  }

  .infoTab {
    display: inline-table;
  }

}
@media screen and (min-width: 700px) {
.infoTab {
  display: none;
}

#oversiktTable {
  display: flex;
  flex-direction: column;
}

.tableElement {
  border-bottom: 1px lightgray solid;
  display: flex;
}

.tableElement td {
  flex-grow: 1;
  flex-basis: 30%;
}
}

}

.sammenligningTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.kommunenummer {
  background-color: rgb(243, 243, 243);
}
